{% extends "base.html.twig" %}
{% block title %}Item {{ itemId }} | 4 Lawn Ave | Deceased Estate{% endblock %}
{% block head %}
  {{ parent() }}
  <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/94cb094786.js" crossorigin="anonymous"></script>


</head>
{% endblock %}

{% block content %}
  <div class="m-3">
     <a class="" onclick="goBack()"><i class="fas fa-chevron-left align-middle"></i></a><span class="float-right"><a href="my-items.php?n={{ userFullName|replace({' ': '-'})}}" class="btn btn-outline-secondary">My items</a></span>
  </div>

  <!-- card with image -->
  <div class="card bg-dark text-white mb-3">
    <img class="card-img" src="https://skyricho.github.io/img/inventory/IMG_{{ itemId }}-412.jpg" alt="Image of Item {{ itemId }}">
    {% if isClaimed %}
      <div class="card-img-overlay">
        <p class="card-text badge badge-warning">Claimed</p>
      </div>
    {% endif %}
  </div>


  
  <div class="container">
    
    {% if isClaimed %}
      <p>Claimed by 
      {% for claim in claims %}
        {{ claim.userFullName }}{% if loop.revindex > 1%}, {% else %} {% endif %}
      {% endfor %}
      </p>
    {% endif %}
    
      <div id="msg"></div>


      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Claim this item
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <form id="claimForm" action="post.php" method="post">
            <!--<form id="claimForm" ic-post-to="post.php" ic-target="#msg">-->
              <!--<input type="hidden" id="cookieId" name="cookieId" value="{{ cookieId }}">-->
               <input type="hidden" id="itemId" name="itemId" value="{{ itemId }}">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" name="userFullName" value="{{ userFullName }}">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mobile</span>
                </div>
                <input type="text" class="form-control" placeholder="04xx xxx xxx" aria-label="Username" aria-describedby="basic-addon1" name="userMobile" value="{{ userMobile }}">
              </div>
              <button type="submit" class="btn btn-primary" name="submit" value="claim">Claim</button>
              <small id="clamlHelp" class="form-text text-muted">Feel free to claim an item even if someone else has claimed it already. Sometimes people reconsider and we can let you know if the item becomes available.</small>
            </div>
          </form>
        </div>
      </div><!-- card -->


    <!--<p class="text-muted mt-5">cookie ID: {{ cookieId }}</p>-->
  </div><!-- container -->


<script>
  function goBack() {
    {% if msg %} //Ugly hack to overcome the POST response using a header redirect.
      history.go(-2);
    {% else %}
      window.history.back();
    {% endif%}
  }
</script>




{% endblock %}