{% extends "base.html.twig" %}
{% block title %}{{ collectionName|capitalize }} | 4 Lawn Ave | Deceased Estate{% endblock %}

{% block content %}
  <!-- Dropdown -->
  <div class="dropdown">
    <a class="btn btn-outline-secondary dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ collectionName|title|replace({'-': " ", })}}
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for collection in collections %}
      	<a class="dropdown-item" href="?c={{ collection.collection|replace({' ': "-", }) }}">{{ collection.collection|title }}</a>
      {% endfor %}
    </div>
  </div>

  {{ msg }}
  <!-- Image gallery --> 
  <div class="row row-cols-2 row-cols-md-3 mt-2">
    {% for collectionItem in collectionItems %}
      <div class="col mb-4">      
        <div class="card text-white border-0">
          <a href="detail.php?id={{ collectionItem.itemId }}" class="stretched-link">
            <!-- responsive example with automatic sizes calculation: -->
            <!--<img
              data-sizes="auto"
              src="..\img\inventory\IMG_3944-lqip.jpg"
              data-src="..\img\inventory\IMG_3944-412.jpg"
              data-srcset="..\img\inventory\IMG_3944-206.jpg 206w,
              ..\img\inventory\IMG_3944-412.jpg 412w,
              ..\img\inventory\IMG_3944-828.jpg 828w" class="lazyload card-img-top card-img-rounded" />-->
            <img src="https://skyricho.github.io/img/inventory/IMG_{{ collectionItem.itemId }}-206.JPG" class="card-img-top card-img-rounded" alt="Image of Item {{ collectionItem.itemId }}">
          </a>
          {% if collectionItem.isClaimed %}
            <div class="card-img-overlay">
              <p class="badge badge-warning">Claimed</p>
            </div>
          {% endif %}
        </div>    
      </div>
    {% endfor %}
  </div>

{% endblock %}