{% extends "base.html.twig" %}
{% block title %}My Items | 4 Lawn Ave | Deceased Estate{% endblock %}

{% block content %}
  <div id="test-msg"></div>
  <!-- Image gallery --> 
  <div class="row row-cols-2 row-cols-md-3">
    {% for myItem in myItems %}
      <div id="item-{{ myItem.itemId }}" class="col mb-4" ic-action="fadeOut;remove">      
        <div class="card text-white border-0">
          <a href="detail.php?id={{ myItem.itemId }}" class="">
            <!-- responsive example with automatic sizes calculation: -->
            <!--<img
              data-sizes="auto"
              src="..\img\inventory\IMG_3944-lqip.jpg"
              data-src="..\img\inventory\IMG_3944-412.jpg"
              data-srcset="..\img\inventory\IMG_3944-206.jpg 206w,
              ..\img\inventory\IMG_3944-412.jpg 412w,
              ..\img\inventory\IMG_3944-828.jpg 828w" class="lazyload card-img-top card-img-rounded" />-->
            <img src="https://skyricho.github.io/img/inventory/IMG_{{ myItem.itemId }}-206.JPG" class="card-img-top card-img-rounded" alt="Image of Item {{ myItem.itemId }}">
          </a>
          <!--{% if myItem.isClaimed %}
            <div class="card-img-overlay">
              <p class="badge badge-warning">Claimed</p>
            </div>
          {% endif %}-->
          <div class="card-footer">
            <form id="form-{{ myItem.itemId }}" ic-post-to="post.php" ic-target="#item-{{ myItem.itemId }}" >
            <!--<form action="post.php" method="post">-->
              <input type="hidden" id="iD" name="iD" value="{{ myitem.iD }}">
              <input type="hidden" id="itemId" name="itemId" value="{{ myItem.itemId }}">
              <button class="btn btn-outline-danger btn-sm btn-block" name="submit" value="unclaim">Unclaim</button>
            </form>
          </div>
        </div>    
      </div>
    {% endfor %}
  </div>

<!-- intercoolerjs debugger -->
<!--<button class="btn btn-default" onclick="$.getScript('https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-debugger.js');">
          Launch The Debugger</button>
<script>$.getScript("https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-debugger.js");</script>-->
{% endblock %}